In [1]:
# import pandas
import sys
print(sys.executable)

c:\Program Files\Python39\python.exe

In [22]:
!pip install pandas
!pip install openxls
!pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\pc\appdata\roaming\python\python39\site-packages (1.4.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\pc\appdata\roaming\python\python39\site-packages (from pandas) (1.23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pc\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\appdata\roaming\python\python39\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement openxls (from versions: none)
ERROR: No matching distribution found for openxls

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     -------------------------------------- 96.5/96.5 kB 690.3 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [24]:
import pandas as pd
import openpyxl

import xlrd

In [1]:
# df = pd.DataFrame(pd.read_excel("./excel/CAV DEALER - 7-26-22 New Price Sheet for Distribution.xlsx"))
xls = pd.ExcelFile("./excel/CAV DEALER - 7-26-22 New Price Sheet for Distribution.xlsx")
df1 = pd.read_excel(xls, '3. E-Vision Series')
# df2 = pd.read_excel(xls, 'Sheet2')

# sheet = xlrd.open_workbook("./excel/CAV DEALER - 7-26-22 New Price Sheet for Distribution.xlsx").sheet_by_index(2)

NameError: name 'pd' is not defined

In [39]:
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,MSRP Price Updated 6-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,E-Vision LASER series,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,E-Vision LASER Models = 20000 hour laser illum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
91,1. With the exception of the E-Vision 5100 and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,2. Upgrade to 5 Year Warranty is for Standard ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,All Prices in US dollars.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,Prices and specifications subject to change wi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date updated
95,"DP V60 7/12/2022 © Digital Projection, Inc.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
xls.sheet_names

['1. Cover & T of C',
 "2. How to Spec & Write P.O.'s  ",
 '3. E-Vision Series',
 '4. M-Vision Series',
 '5. TITAN Series',
 '6. INSIGHT 8K',
 '8. Accessories & Legacy Lamps',
 '9. Demo, Freight and Service',
 '10. Value Add Services ',
 '11. Product Warranty',
 '12. Extended Warranty',
 '13. DP Contacts']

In [48]:
df3 = xls.parse(2, header=18)
df3

,LASER-Based Systems1,lumens / contrast,Part #,List Price,1-5 Units,6-19 Units,20+ Units / Reg,Unnamed: 7,MSRP,Dlr Cost,Unnamed: 10
0,E-Vision LASER (1920 x 1200 native) NOTE: E-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"To order use part # ""5YR-WRT""",NaN,NaN
1,E-Vision 4000 4K_UHD*,"3,800 / 1200:1",121-804,8425,6066,5897.5,5729,NaN,1011,758.25,NaN
2,Special Order E-Vision LASER 5100 **,"5100 / 2,000:1",120-552,6325,4554,4427.5,4301,NaN,759,569.25,NaN
3,E-Vision LASER 5900 ***,"6,000 / 2,000:1",120-551,6125,4410,4287.5,4165,NaN,735,551.25,NaN
4,E-Vision LASER 6500 II ****,"6,500 / 5,000:1",120-061,9995,7196.4,6996.5,6796.6,NaN,1199.4,899.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...
73,1. With the exception of the E-Vision 5100 and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,2. Upgrade to 5 Year Warranty is for Standard ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,All Prices in US dollars.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Prices and specifications subject to change wi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date updated
77,"DP V60 7/12/2022 © Digital Projection, Inc.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
#  pd not detecting header 

# !pip install pandas
# !pip install skimpy

import pandas as pd
from skimpy import clean_columns , skim


filename = "./excel/CAV DEALER - 7-26-22 New Price Sheet for Distribution.xlsx"
# df = pd.read_excel(filename,  engine='openpyxl')
df = pd.read_excel(filename, sheet_name='3. E-Vision Series' ,engine='openpyxl')
df.head()
# df.columns
# df.dtypes
clean_df = clean_columns(df, case = 'kebab')
clean_df.columns.tolist()
skim(df)

11 column names have been cleaned

TypeError: data type 'mixed-integer' not understood

In [28]:
#  !pip install pyjanitor
from janitor import xlsx_table
filename = "./excel/CAV DEALER - 7-26-22 New Price Sheet for Distribution.xlsx"
tables = xlsx_table(filename, sheet_name='3. E-Vision Series')
# view all the keys, which are the table names:
tables.keys()

TypeError: xlsx_table() got an unexpected keyword argument 'sheet_name'

In [103]:
from re import match
list_array = ["__1__","__2__","__3__","test"]
filtered_values = filter(lambda col: match('^__\d+__$', col) , list_array)
filtered_values
for x in filtered_values:
    print (x)

# print ([filtered_values(list_array)])

__1__
__2__
__3__

In [104]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
  
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))
  
# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

TypeError: 'list' object is not callable

In [1]:
import os

# folder path
dir_path = r'D:\\laragon\\www\\excel_to_csv\\excel\\'

# list to store files
res = []

# Iterate directory
for path in os.listdir(dir_path):
    # check if current path is a file
    if os.path.isfile(os.path.join(dir_path, path)):
        res.append(path)
print(res)

['.gitkeep', 'AF_Dealer_Pricelist_072020_w.xlsx', 'Atlona Q2 2020 USA Dealer Pricelist - V1 - Copy.xlsx', 'AVR Pricelist - Roland Pro AV Jan 24th 2022.xlsm', 'B-Tech AV Mounts LLC Price List 2021 (Release 1.0) - Sapphire Partner.xlsx', 'Barco Entertainment Silver 2020-06-01.xlsx', 'CAV DEALER - 7-26-22 New Price Sheet for Distribution.xlsx', 'Dante Domain Manager Aug 2021.xlsx', 'DMR Price List 1-1-2022.xlsx', 'EAW Dealer Price List April 2022.xlsx', 'Harman Pro Pricing 010522.xlsx', 'Leon-PriceGuide-COMM-2021-DLR-2-2.xlsx', 'parallel-table-test.xlsx', 'parallel-table-test2.xlsx', 'Philips I Dealer Q2 2022 Pricing_April 11 2022 (1).xlsx', 'Shure-Alpha-Numeric-Dealer-Price-List---March-9-2020.xlsx', 'Synthax Premium Line US Dealers 2020.xls', 'test_excel.xlsx', 'test_excel2.xlsx', 'US_PRO_and_Commercial_Price_Aug_17_Custom-1.xlsx', 'Veracity Master Pricelist 2020-Q3 Final.xlsx', 'Visionary Solutions - Dealer Price List - Effective Feb 15 2022.xlsx']